/*=========== Common part CSS ============*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p {
    line-height: 0.8;
}
h1,h2,h3,h4,h5,h6,a {
    font-family: 'Raleway', sans-serif;
}
h2 {
    font-size: 35px;
    font-weight: 400;
    text-transform: capitalize;
}
p{
    font-family: 'VintageKing', sans-serif;
    font-style: 14px;
}


/*=========== Navbar part CSS ============*/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: 1px solid #4c3a15;
}
.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;

}
.navbar-brand {
    color: #fec600;
    font-family :'VintageKing', sans-serif;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding:0 0px;
    font-style: 16px;
    color: #fff;
    font-weight: 500;
    transition: all linear .3s;
    line-height: 110px;
    position: relative;
}
.navbar-expand-lg .navbar-nav .nav-link:after {
    position: absolute;
    content: '';
    width: 0;
    height: 3px;
    background-color: #fec600;
    left: 0;
    bottom: -1.5px;
    opacity: 0;
    transition: all linear .3s;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #fec600;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:after {
    opacity: 1;
    width: 100%;
}

/*=========== banner part CSS ============*/
.banner {
    background-position: center!important;
    background-repeat: no-repeat!important;
    border-style: cover!important;
    height: 90vh;
    width: 100%;
    position: relative;
}
.banner::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0,0.6);
    top: 0;
    left: 0;
}



/*=========== About part CSS ============*/

#about {
    padding-bottom: 80px;
}
.headline {
    padding-bottom: 40px;
}
.headline h2 {
    color: #111;
    padding-bottom: 13px;
}
.headline p {
    color: #353535;
    line-height: 24px;
    padding: 0 22px;
}
.about-item {
    background-color: #eee;
    padding: 40px 35px;
    transition: all linear .3s;
}
.about-item h3 {
    color: #111;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 13px;
}
.about-item p {
    color: #353535;
    line-height: 24px;
    font-weight: 400;
    padding: 0 16px;
}
.about-item1{
    position: relative;
    z-index: 99;
}
.about-item1::before {
    position: absolute;
    content: '';
    width: 38px;
    height: 38px;
    background-color: #eee;
    left: 50%;
    bottom: -19px;
    transform: translateX(-50%)rotate(45deg);
    z-index: 99;
}
.about-item1::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #353535;
    left: 50%;
    bottom: -60px;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 9;
    transition: all linear .3s;
}
.about-item:hover {
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.3));
}
.about-item2{
    position: relative;
    margin-top: 115px;
    z-index: 999;
}
.about-item2 p {
    padding: 0;
    padding-left: 20px;
}
.about-item2::before {
    position: absolute;
    content: '';
    width: 38px;
    height: 38px;
    background-color: #eee;
    right: -19px;
    top: 50%;
    transform: translateY(-50%)rotate(45deg);
}
.about-item2::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #353535;
    top: 50%;
    right: -63px;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 9;
    transition: all linear .3s;
}
.about-item3{
    position: relative;
    margin-top: 115px;
    z-index: 99;
}
.about-item3 p{
    padding: 0;
    padding-right: 20px;
}
.about-item3::before {
    position: absolute;
    content: '';
    width: 38px;
    height: 38px;
    background-color: #eee;
    left: -19px;
    top: 50%;
    transform: translateY(-50%)rotate(45deg);
}
.about-item3::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #353535;
    top: 50%;
    left: -63px;
    transform: translateY(-50%);
    border-radius: 50%;
    z-index: 9;
    transition: all linear .3s;
}
.about-item4{
    position: relative;
    margin-top: 70px;
    z-index: 99;
}
.about-item4::before {
    position: absolute;
    content: '';
    width: 38px;
    height: 38px;
    background-color: #eee;
    left: 50%;
    top: -19px;
    transform: translateX(-50%)rotate(45deg);
}
.about-item4::after {
    position: absolute;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #353535;
    left: 50%;
    top: -60px;
    transform: translateX(-50%);
    border-radius: 50%;
    z-index: 9;
    transition: all linear .3s;
}
.about-img {
    position: relative;
    width: 320px;
    height: 320px;
    margin: 0 auto;
    margin-top: 70px;
}
.about-img::after {
    position: absolute;
    content: '';
    width: 360px;
    height: 360px;
    border: 1px solid #454545;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}
.about-img::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
}
.about-item1:hover:after {
    background-color: #fec600;
}
.about-item2:hover:after {
    background-color: #fec600;
}
.about-item3:hover:after {
    background-color: #fec600;
}
.about-item4:hover:after {
    background-color: #fec600;
}

/*=========== Set part CSS ============*/
.accordion-button:not(.collapsed) {
	color: #444;
	background-color: #f222;
	box-shadow: none;
	padding-left: 15px !important;
}
.accordion-button:focus {
	border-color: tomato;
	box-shadow: none;
}
.accordion-button:not(.collapsed)::after {
	display: none;
}
.accordion-button::after {
	display: none;
}
.accordion-button {
    line-height: 40px;
    padding-left: 15px !important;
}
.accordion-button i {
	float: right;
	transition: all linear .3s;
	width: 40px;
	height: 40px;
	background: green;
	line-height: 40px;
    color: #fff;
	text-align: center;
}
.accordion-button:not(.collapsed) i {
    transform: rotate(90deg);
}
.accordion-item {
    margin-bottom: 30px;
}
/*=========== Footer part CSS ============*/
